# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

gandhi_training.csv
gandhi_training.jsonl
gandhi_quotes.txt
combined_gandhi_training.csv
combined_gandhi_training.jsonl
combined_gandhi_system_prompt.txt
gandhi_model_id.txt